.toolbar-spacer {
    flex: 1 1 auto;
  }
  
.toolbar {
  background-color: #33CCCC;
  -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.57); 
  box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.57);
  
  
  padding: 5px 20px;
}


.split-box {
  border: 1px solid #33CCCC;
  display: flex;
  flex-direction: row;
}